/* Template style sheet for html scripts
   BASELINE
*/

body{
	background-color: #DADADA;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}



/*Getting curly quotes, opening and closing
See http://webdesign.tutsplus.com/articles/start-using-quotation-marks-the-correct-way--webdesign-16905*/
q, 
blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
}



.slideShowTitle{
	font-weight: bold;
	color: #990000;
	margin-bottom: 5px;
}


	.container{
		margin-left: 3%;
		margin-right: 3%;
		margin-top: 2%;
		margin-bottom: 1%;
		width: 94%;
		
	}

	
	
	#slides {
      display: none
    }

	

    #slides .slidesjs-navigation {
      margin-top:3px;
    }

    #slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    #slides .slidesjs-next {
      margin-right: 5px;
      float: left;
    }	
	
		
	
	/* NOTE: Do not try to change the vertical distance between previous/next  and the image. Do this in the html file, where sliderjs is initialized */

	/* Pagination refers to the dots on the right at the bottom of the slider */
    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333; /* Change here color of Previous/Next */
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }

  















